# Python env
ign-env
# Downloaded content
topo-express
# executable
api_bdtopov3_building
# Local configuration
.env
docker-compose.yml
docker-stack.yml
# Annoying Macos poo 💩
.DS_Store
# Temp files
*.swp